.center {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.flag {
  width: 50px;
}

.country_dropdown {
  width: 100%;
  margin-top: 20px;
}

.input {
  text-align: center;
  input {
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 10px;
    text-align: right;
  }
  select {
    border-radius: 0 8px 8px 0;
    border: none;
    padding: 10px;
    color: lightgray;
    color: var(--main-color);
  }
}
