.center {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.flag {
  width: 50px;
}

.country_dropdown {
  width: 100%;
  margin-top: 20px;
  max-width: 300px;
}

.input {
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  background: var(--grey-light);
  border-radius: 8px;
  input {
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 10px;
    text-align: right;
  }
  select {
    border-radius: 0 8px 8px 0;
    border: none;
    color: var(--main-color);
    background: none;
  }
}
