.root {
  padding: 80px 20px;
  text-align: center;
  color: var(--primary-text-color);
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.13);
  border-radius: 18px;
  width: 700px;
  margin: auto auto 120px auto;
  h3 {
    font-size: 28px;
  }
}
