.usp {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 30px auto auto auto;
  position: relative;
  color: var(--primary-text-color);
  .item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1.5rem 1.5rem 2rem;
    margin: 1rem 0;

    .text {
      order: 1;
      max-width: 400px;
      h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        margin: 0 0 20px 0;
      }

      p {
        text-align: center;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 400;
      }

      a {
        margin-top: 30px;
        display: inline-block;
        color: var(--primary-color);
        text-decoration: none;
      }
    }

    .icon {
      img {
        max-width: 250px;
        height: 250px;
        margin: 10px;
      }
    }
  }
}

.diagonal {
  background: var(--bg-light-color)
    linear-gradient(to right bottom, #fff 50%, var(--bg-light-color) 50%);
}

@media only screen and (min-device-width: 768px) {
  .usp {
    margin: 60px auto auto auto;
    .item {
      align-items: center;
      margin: 2rem 0;
      .text {
        order: 0;
        max-width: 400px;
        padding: 20px 50px;
        h2 {
          margin: 0 0 30px 0;
        }

        p {
          font-size: 16px;
          line-height: 1.6;
          font-weight: 400;
        }
      }

      .icon {
        margin-bottom: 3px;
        img {
          max-width: 400px;
        }
      }
    }
  }
}
