.results_container {
  h3 {
    text-transform: uppercase;
    text-align: center;
  }
  .result {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.13);
    border-radius: 18px;
    max-width: 250px;
    padding: 20px 8px;
    margin: 30px auto 0 auto !important;
    .number {
      padding: 0 10px;
      font-size: 70px;
      font-weight: 900;
      min-width: 160px;
      height: 90px;
    }
  }
  .reset {
    margin: 8px 0 22px 0;
    color: var(--brown-color);
  }
}
