.previous {
  color: var(--brown-color);
  font-size: 16px;
  margin-bottom: 20px;
  &:disabled {
    color: var(--primary-text-color);
  }
}

.next {
  color: var(--brown-color);
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--brown-color);
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 8px;
}
