.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 35px;
  svg {
    height: 35px;
    width: auto;
  }
  pointer-events: none;
  padding-right: 10px;
  @media only screen and (min-width: 768px) {
    height: 45px;
    svg {
      height: 45px;
    }
  }
}

footer {
  .logo {
    height: 40px;
  }
}
