.root {
  min-height: 400px;
  padding-top: 10px;
  .equivalent_container {
    margin: 20px -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .equivalent_item {
      padding: 10px;
      display: flex;
      max-width: 120px;
      flex-flow: column;
      .icon {
        font-size: 50px;
      }
      font-size: 14px;
      @media only screen and (min-device-width: 768px) {
        margin: 20px 30px;
        max-width: 150px;
        width: 150px;
      }
    }
    .tweet {
      height: 28px;
      line-height: 28px;
      align-self: center;
      margin-top: 12px;
      background: #1ea1f2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 0 10px 0 6px;
      border-radius: 4px;
      img {
        width: 24px;
      }
      color: white;
      text-decoration: none;
      &:hover {
        background: #005fd1;
      }
    }
  }

  a{
    color: var(--primary-color);
    &:hover{
      color: var(--secondary-color);
    }
  }

  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
  }
  .fade-enter-active,
  .fade-exit-active {
    transition: opacity 200ms;
  }

}
