.together {
  margin: auto;
  background: var(--bg-second-light-color);
  padding: 110px 20px;
  text-align: center;
  h1 {
    font-size: 40px;
  }
  p {
    margin: 12px auto;
    font-size: 18px;
    max-width: 700px;
    line-height: 1.4;
  }

  a {
    color: var(--primary-color);
    padding: 14px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 45px;
    display: inline-block;
    margin-top: 24px;
    &:hover {
      cursor: pointer;
      background-color: var(--bg-light-color);
    }
  }
  .button {
    color: var(--primary-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 140px;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 15px;
  }

  .button:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 15px 20px rgba(39, 122, 33, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
}
