.header {
  height: 30px;
  font-size: calc(10px + 2vmin);
  padding: 10px 20px;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-left: 2rem;
}

.solid {
  background-color: white;
  transition: background-color 1s ease 0s;
}
