.root {
  background-color: var(--bg-second-light-color);
  padding: 100px 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'calculator calculator calculator';
  @media only screen and (min-device-width: 768px) {
    grid-template-areas: '. calculator .';
  }

  .paragraph {
    line-height: 1.4;
  }

  .middle {
    grid-area: calculator;
    text-align: center;
    color: var(--primary-text-color);
    a,
    small {
      color: var(--primary-text-color);
    }
    h2 {
      font-size: 32px;
    }

    p {
      margin: 8px 0 36px 0;
    }

    h2,
    p {
      color: inherit;
    }

    .explanation {
      font-size: 1.2rem;
      line-height: 1.4rem;
      max-width: 800px;
      margin: 1rem auto 2rem auto;
      a {
        color: var(--primary-text-color);
      }
    }
  }
  .emoji {
    cursor: pointer;
  }
}
