.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--bg-darker-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 30px 20px;
  p,
  small {
    color: var(--primary-text-color);
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    li {
      color: var(--primary-text-color);
      list-style: none;
      a {
        color: var(--primary-text-color);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .copyright {
    margin-top: 50px;
    font-size: 12px;
  }
}
