.header {
  height: 30px;
  font-size: calc(10px + 2vmin);
  padding: 2rem 1rem;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: #f8f8f8;
  //border-bottom: 1px solid var(--grey-light);
  @media only screen and (min-width: 768px) {
    height: 65px;
    padding: 0 4rem;
  }

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;

  .button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    line-height: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    @media only screen and (min-width: 768px) {
      padding: 0.5rem 1rem;
    }
    &:hover {
      background: var(--primary-color);
      color: white;
    }
  }
}

.solid {
  //background: #E6E6E6;
  transition: background-color 1s ease 0s;
}
