.previous {
  color: var(--primary-text-color);
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0 5px;
  display: inline-block;
  &:disabled {
    color: var(--primary-text-color);
  }
  &:hover {
    color: var(--primary-color);
  }
}

.next {
  font-weight: bold;
  color: white;
  background: var(--primary-color);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 40px;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &:hover {
    background: var(--primary-color);
  }
}
