.getInTouch {
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  h4 {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: normal;
  }
  ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    li {
      flex: 1;
      padding: 1rem;
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }

  @media only screen and (min-width: 768px) {
    margin: 4rem auto;
    ul {
      flex-direction: row;
    }
  }
}
