.step {
  text-align: left;
  padding: 20px;
  color: var(--main-color);

  label {
    cursor: pointer;
  }

  .title {
    text-align: center;
    font-size: 20px;
    margin: 8px 0 24px 0;
    color: var(--primary-text-color);
  }
}
